*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;
    background-color: #fff;


}
.container{
    width: 1200px;
    height: 100%;
    margin: auto;
    padding: auto;
}
/* nav */
nav{
    height: 100px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
nav img{
    margin-top: 30px;
    padding-left: 30px;
}
header{
    text-align: center;
    justify-content: space-between;
    background: #3cb149;
}
.menu{
    padding-top: 50px;
}
.gnb{
    list-style: none;
    text-decoration: none;
    color: #333;
    display: flex;
    font-size: 18px;
    font-weight: bold;
}
.gnb li{
    position: relative;
}
.gnb li a{
    padding : 20px;
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}
.gnb li a:hover{
    background: #1d8844;
    color: #fff;
}
.lnb{
    list-style: none;
    padding: 0;
    /* margin-top: 20px; */
    text-align: center;
}
.lnb li{
    text-align: center;
    padding-top: 18px;
    line-height: 50px;
    background: #3cb149;
    display: none;
}
.lnb>li>a{
    
    display: block;
    margin: 0;
    padding: 0;
}
.lnb>li>a:hover{
    background: #1d8844;
    color: #fff;
}
/* hero */
.hero{
    overflow: hidden;
    /* position: relative; */
}
.slide{
    display: flex;
    width: 3600px;
    /* position: absolute; */
    left: 0;
    top: 0;
    transition: translate(0);
}